<!DOCTYPE html>
<html>
<head>
  <title>Foodish</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- // <script src="js/jquery.validate.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
  
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Foodish</h1>
    </header>
    <div class="row">
      <!-- code here -->
      <% for(var i= foods.length-1; i >= 0; i--) { %>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
           <h3><%=foods[i].name %></h3>
            <img src="<%=foods[i].image_url%>">
            <div class="caption">
              

              <div class="form-group">
                <form class="foodPost" data-id="<%= foods[i]._id %>">
                  <label for="usr">Name:<span>(Required at least 2 characters)</span></label>
                  <input type="text" class="form-control" name="name" minlength="2" required>
                  <label for="comments">Comments:<span>(Required at least 10 characters)</span></label>
                  <textarea class="form-control" name="comments" rows="3"placeholder="Write your Comments " required></textarea>
                  <input id="temp" type="submit" class="pull-right" value="Post!">

                </form>
              </div>
              
              <a href="<%= foods[i].f2f_url %>" target="_blank">
              <h4>Recipes</h4>
              </a>
              <ul id="<%= foods[i]._id%>"> 
               <% for(var z=0; z< foods[i].comments.length; z++) {  %>
                  <li>
                    <%= foods[i].comments[z].name %>
                      <%= foods[i].comments[z].comments %>
                  </li>
               <% } %>
              </ul>
              
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>


